.content-header {
  display: flex;
  align-items: center;
}

.mat-card-header .mat-card-title {
  margin-bottom: 0;
}

.card {
  margin-top: 2.5rem;
  padding: 0 1rem;
}

.card-content {
  display: flex;
  gap: 1.5rem;
}

.card-content form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.card-content form mat-label {
  font-size: 1rem
}

.card-content form input {
  width: 100%;
}

.content-avatar {
  width: 200px;
  height: 200px;
}

.content-avatar img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 99999px;
}

.email-list ul {
  margin: 0
}

.email-list ul li .icon {
  font-size: 0.875rem;
}
