<mat-card class="mat-elevation-z8">
  <mat-card-header class="content-header">
    <mat-card-title>Atualizar informações do cliente</mat-card-title>

    <button mat-raised-button (click)="onCancel()">
      Cancelar
    </button>
  </mat-card-header>

  <mat-card-content class="card">
    <div class="card-content">
      <div class="content-avatar">
        <img mat-card-image src="{{ client.avatarUrl }}" alt="Foto cliente">
      </div>
      <div class="card-content-data">
        <div>
          <strong>Inscrição: </strong>
          <span>{{ client.inscricao }}</span>
        </div>
        <div>
          <strong>Apelido: </strong>
          <span>{{ client.apelido }}</span>
        </div>
        <div>
          <strong>Nome: </strong>
          <span>{{ client.nome }}</span>
        </div>
        <div>
          <strong>Status: </strong>
          <span>{{ getStatusText(client.status) }}</span>
        </div>
      </div>
      <div>
        <strong>Emails: </strong>
        <ul>
          <li *ngFor="let email of getEmails(client)">
            {{ getCategoryName(email.categoria) }} - {{ email.nome }} - {{ email.email }}
          </li>
        </ul>
      </div>
    </div>

    <mat-card-actions>
      <button mat-raised-button color="primary">Salvar</button>
      <button mat-raised-button color="warn" (click)="deleteClient()">Excluir</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>