.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  margin-top: 2.5rem;
  padding: 0 1rem;
}

.card-content {
  display: flex;
  gap: 1.5rem;
}

.card-content-data {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.content-avatar {
  width: 200px;
  height: 200px;
}

.content-avatar img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 99999px;
}